<form class="text-center" target="phpIframe" action="{FORM_ACTION}" method="post">
    <table class="table table-bordered table-inverse table-responsive" style="width: 99%; margin: 0px auto; margin-bottom: 1%;">
        <thead class="thead-inverse bg-primary">
            <tr>
                <th>{NS_TITLE}</th>
                <th>{EMAIL_TITLE}</th>
                <th>{PASSWORD_TITLE}</th>
                <th>{ROLE_TITLE}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {tBody}
        </tbody>
    </table>
</form>
<iframe id="phpIframe" name="phpIframe" src="" style="width:0; height:0; border:0; border:none"></iframe>